<h1>Workspaces</h1>

<%= link_to 'New Workspace', new_workspace_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workspaces.each do |workspace| %>
      <tr>
        <td><%= workspace.name %></td>
        <td>
          <%= link_to 'Show', workspace, class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_workspace_path(workspace), class: 'btn btn-warning' %>
          <%= link_to 'Delete', workspace, method: :delete, 
                      confirm: 'Are you sure?', class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>